<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{../../lib/element-ui/lib/theme-chalk/index.css}"/>
    <link rel="stylesheet" th:href="@{../../lib/font/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{../../css/goods.css}"/>
    <link rel="stylesheet" th:href="@{../../css/public.css}"/>
</head>
<body>
<div id="app">
    <!-- header -->
    <el-menu mode="horizontal" :default-active="activeIndex">
        <el-menu-item index="0" id="logo">音乐管理系统</el-menu-item>
        <el-menu-item index="1"><a href="/music">音乐管理列表</a></el-menu-item>
        <el-menu-item index="2"><a href="/news">音乐新闻管理列表</a></el-menu-item>
        <el-menu-item index="3"><a href="/user">用户管理列表</a></el-menu-item>
        
        <el-menu-item id="author" index="3">
          
            <el-dropdown>
                  <span class="el-dropdown-link">个人中心<i class="el-icon-arrow-down el-icon--right"></i></span>
                <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item>首页</el-dropdown-item>
                    <el-dropdown-item><a href="#" target="_blank">修改密码</a></el-dropdown-item>
                    <el-dropdown-item divided><a href="/logout">退出</a></el-dropdown-item>
                </el-dropdown-menu>
            </el-dropdown>
        </el-menu-item>
    </el-menu>

    <div id="main">
        <el-col>
            <el-card shadow="hover">
                <!-- 搜索框 -->
                <el-form :inline="true" :model="searchEntity" class="demo-form-inline">
                    <el-form-item label="分类">
                        <el-input v-model="searchEntity.brand" placeholder="按音乐分类查询"></el-input>
                    </el-form-item>
                    <el-form-item label="歌手">
                        <el-input v-model="searchEntity.singer" placeholder="按歌手查询"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button
                                type="primary"
                                icon="el-icon-search"
                                @click="searchBy()">查询
                        </el-button>
                        <el-button
                                icon="el-icon-delete"
                                @click="searchEntity={}"
                                type="primary" plain>清空
                        </el-button>
                    </el-form-item>
                </el-form>
                <!-- 功能按钮 -->
                <div>
                    <el-row>
                        <el-button @click="saveBtn" type="primary" icon="el-icon-plus">新增</el-button>
                        <el-button type="primary" plain icon="el-icon-edit" @click="editSelect">编辑</el-button>
                        <el-button type="danger" plain icon="el-icon-delete" @click="deleteSelect(multipleSelection)">删除
                        </el-button>
                        <el-button icon="el-icon-refresh"
                                   @click="search()">刷新
                        </el-button>
                    </el-row>
                    <span class="el-tag avue-tip">
                    <i class="el-icon-info"></i>
                    <span class="name">
                        当前表格已选择
                        <span class="count">{{count}}</span>
                        项
                    </span>
                    <span @click.prevent="clearSelect()" style="cursor:pointer">&nbsp;&nbsp;清空</span>
                </span>
                </div>
                <!-- 列表 -->
                <el-table
                        ref="music"
                        :data="music"
                        border
                        tooltip-effect="dark"
                        style="width: 100%"
                        @selection-change="selectChange">
                    <el-table-column
                            ref="selection"
                            align="center"
                            type="selection"
                            width="55">
                    </el-table-column>
                    <el-table-column
                            prop="id"
                            align="center"
                            sortable
                            fixed
                            label="音乐ID"
                            width="120">
                    </el-table-column>
                    <el-table-column
                            align="center"
                            prop="num"
                            sortable
                            label="收听人数"
                            width="120">
                    </el-table-column>
                     <el-table-column
                            align="center"
                            prop="singer"
                            sortable
                            label="歌手"
                            width="120">
                    </el-table-column>
                    <el-table-column
                            align="center"
                            prop="brand"
                            label="音乐分类"
                            width="150">
                    </el-table-column>
                    <el-table-column
                            align="center"
                            prop="name"
                            sortable
                            label="音乐"
                            width="260"
                            show-overflow-tooltip>
                    </el-table-column>
                    <el-table-column align="center" label="音乐图片" width="240">
                        <template scope="scope">
                            <img :src="scope.row.img" class="image" width="150" height="160"/>
                        </template>
                    </el-table-column>
                    <el-table-column label="操作" align="center" fixed="right">
                        <template slot-scope="scope">
                            <el-button
                                    size="mini"
                                    type="danger"
                                    @click="handleDelete(scope.row.id)">删除
                            </el-button>
                            <el-button
                                    size="mini"
                                    @click="handleEdit(scope.row.id)">编辑
                            </el-button>
                           
                        </template>
                    </el-table-column>
                </el-table>

               
                <br/>
                <br/>
            </el-card>
        </el-col>
    </div>

    


    <!-- 新增按钮的dialog -->
    <el-dialog title="添加信息" :visible.sync="showSave" width="30%" :close-on-click-modal="false"
               :close-on-press-escape="false">
        <el-form class="editor-form" :model="editor" status-icon ref="editor"
                 label-width="100px">
            <el-form-item prop="name" label="音乐名称" class="is-required"
                          :rules="[{ required: true, message: '音乐标题不能为空'}]">
                <el-input v-model="editor.name" placeholder="音乐名称"
                          auto-complete="off"></el-input>
            </el-form-item>
             <el-form-item prop="singer" label="歌手" class="is-required"
                          :rules="[{ required: true, message: '歌手不能为空'}]">
                <el-input v-model="editor.singer" placeholder="歌手名称"
                          auto-complete="off"></el-input>
            </el-form-item>
            <el-form-item prop="num" label="收听人数" class="is-required"
                          :rules="[{ required: true, message: ''},{ type: 'number', message: '必须是数字'}]">
                <el-input v-model.number="editor.num" placeholder="收听人数"
                          auto-complete="off"></el-input>
            </el-form-item>
             <el-form-item prop="url" label="音乐链接地址" class="is-required"
                          :rules="[{ required: true, message: ''}]">
                <el-input v-model.number="editor.url" placeholder="音乐链接地址"
                          auto-complete="off"></el-input>
            </el-form-item>
            <el-form-item prop="img" label="图片">
                <el-upload
                        ref="upload"
                        action="/upload"
                        multiple
                        name="picture"
                        list-type="picture-card"
                        :limit="1"
                        :on-exceed="onExceed"
                        :file-list="fileList"
                        :before-upload="beforeUpload"
                        :on-preview="handlePreview"
                        :on-success="handleSuccess"
                        :on-remove="handleRemove">
                    <i class="el-icon-plus"></i>
                </el-upload>
                <el-dialog :visible.sync="dialogVisible">
                    <img width="100%" :src="dialogImageUrl" alt="">
                </el-dialog>
            </el-form-item>
            <el-form-item prop="brand" label="音乐分类" class="is-required"
                          :rules="[{ required: true, message: '音乐类型不能为空'}]">
                <el-input v-model="editor.brand" placeholder="音乐类型"
                          auto-complete="off"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="showSave = false">取 消</el-button>
            <el-button type="primary" @click="save('editor')">新增</el-button>
        </div>
    </el-dialog>

    <!-- 编辑按钮的dialog -->
    <el-dialog title="编辑信息" :visible.sync="showEditor" width="30%" :close-on-click-modal="false"
               :close-on-press-escape="false">
        <el-form class="editor-form" :model="editor" status-icon ref="editor"
                 label-width="100px">
            <el-form-item prop="name" label="音乐名称" class="is-required"
                          :rules="[{ required: true, message: '音乐标题不能为空'}]">
                <el-input v-model="editor.name" placeholder="音乐名称"
                          auto-complete="off"></el-input>
            </el-form-item>
            <el-form-item prop="singer" label="歌手" class="is-required"
                          :rules="[{ required: true, message: '歌手不能为空'}]">
                <el-input v-model="editor.singer" placeholder="歌手名称"
                          auto-complete="off"></el-input>
            </el-form-item>
            <el-form-item prop="num" label="收听人数" class="is-required"
                          :rules="[{ required: true, message: ''},{ type: 'number', message: '必须是数字'}]">
                <el-input v-model.number="editor.num" placeholder="收听人数"
                          auto-complete="off"></el-input>
            </el-form-item>
             <el-form-item prop="url" label="音乐链接地址" class="is-required"
                          :rules="[{ required: true, message: ''}]">
                <el-input v-model.number="editor.url" placeholder="音乐链接地址"
                          auto-complete="off"></el-input>
            </el-form-item>
            <el-form-item prop="picture" label="图片">
                <el-upload
                        ref="upload"
                        action="/upload"
                        multiple
                        name="picture"
                        list-type="picture-card"
                        :limit="1"
                        :on-exceed="onExceed"
                        :file-list="fileList"
                        :before-upload="beforeUpload"
                        :on-preview="handlePreview"
                        :on-success="handleSuccess"
                        :on-remove="handleRemove">
                    <i class="el-icon-plus"></i>
                </el-upload>
                <el-dialog :visible.sync="dialogVisible">
                    <img width="100%" :src="dialogImageUrl" alt="">
                </el-dialog>
            </el-form-item>
             <el-form-item prop="brand" label="音乐分类" class="is-required"
                          :rules="[{ required: true, message: '音乐类型不能为空'}]">
                <el-input v-model="editor.brand" placeholder="音乐类型"
                          auto-complete="off"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="showEditor = false">取 消</el-button>
            <el-button type="primary" @click="sureEdit('editor')">修改</el-button>
        </div>
    </el-dialog>

</div>
</body>
<script type="text/javascript" th:src="@{../../lib/vue/vue.js}"></script>
<script type="text/javascript" th:src="@{../../lib/element-ui/lib/index.js}"></script>
<script type="text/javascript" th:src="@{../../lib/vue/vue-resource.js}"></script>
<script type="text/javascript" th:src="@{../../lib/vue/vuex.min.js}"></script>
<script type="text/javascript" th:src="@{../../js/music.js}"></script>
</html>