<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset=utf-8><meta name=viewport content="width=device-width,initial-scale=1">
<title>MusicCool</title>
<link rel="Shortcut Icon" href="../dist/img/music_playe.ico">
<link th:href="@{../dist/css/app.c61428f1d3adc1082905667183ec237e.css}" rel=stylesheet>
</head><body><div id=app></div>
<script type=text/javascript th:src="@{../dist/js/manifest.3ad1d5771e9b13dbdad2.js}"></script>
<script type=text/javascript th:src="@{../dist/js/vendor.f37856dc730bb984c313.js}"></script>
<script type=text/javascript src="./dist/js/app.a4df40653422b0e8b895.js"></script>
</body><script src=https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js></script></html>